body {
    padding: 50px;
    #todo-list {
        font-size: 20px;

        input {
            font-size: 24px;
            margin-bottom: 20px;
        }

        li {
            margin: 10px 0;
            a {
                font-size: 18px;
                &.checked {
                    color: #eee;
                    text-decoration: line-through;
                }
            }
        }
    }
}